html {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    font-family: articulat-cf, sans-serif;
}

body {
    display: inline-flex;
    margin: 0;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin-bottom: 0.5em;
}

h1,
.h1 {
    font-size: 2.2rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.8rem;
}

h4,
.h4 {
    font-size: 1.6rem;
}

h5,
.h5 {
    font-size: 1.4rem;
}

h6,
.h6 {
    font-size: 1.2rem;
}

button,
.btn {
    color: #A30738;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 1% 2%;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
}

button:hover,
.btn:hover {
    color: #ffffff;
    background-color: #121212;
    border: 1px solid #121212;
    border-radius: 8px;
    padding: 1% 2%;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
}

.btn--secondary {
    color: #A30738;
    background-color: white;
    border: 1px solid #A30738;
    border-radius: 8px;
    padding: 1% 2%;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
}

.btn--secondary:hover {
    color: #ffffff;
    background-color: #A30738;
    border: 1px solid #A30738;
    border-radius: 8px;
    padding: 1% 2%;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
}

a,
.a {
    appearance: none;
    color: #ffffff;
    text-decoration: underline;
}

a:hover,
.a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.icon {
    height: 24px;
    width: auto;
}

.personalpicturedesktop {
    width: auto;
    height: auto;
}

/*------ Menu starts ------*/
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #ffffff00;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.menu ul {
    list-style-type: none;
    padding-right: 20px;
}
  
.menu li {
    float: left;
}
  
.menu a {
    padding: 0px 30px 0px 0px;
    text-decoration: none;
    font-size: 16px;
}
  
.menu a:hover {
    font-weight: 900;
    text-decoration: underline;
}

.menu a:focus {  /*--- quiero que cuando esté seleccionado aparezca este estilo, pero no funciona ---*/
    font-weight: 900;
    text-decoration: underline;
}
  
.menu img {
    height: auto;
    width: 50px;
    display: flex;
    align-items: center;
}
/*------ Menu ends ------*/

/*------ Footer start ------*/
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff00;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    font-size: 10px;
}

footer ul {
    list-style-type: none;
    padding-right: 20px;
}
    
footer li {
    float: left;
    padding: 0 0 0 30px;
}
/*------ Footer ends ------*/

/*------ Block displays ------*/
#about {
    display: none;
}
  
#skills {
    display: none;
}
  
#contact {
    display: none;
}
  
#about:target {
    display: block;
}
  
#skills:target {
    display: block;
}
  
#contact:target {
    display: block;
}
/*------ Block displays ends ------*/

/*------ Block style ------*/

.blockpositioncentered {
    display: flex;
    width: 65vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #A30738;
} 

.coverblockstyle {
    display: flex;
    width: 35vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.personalimage {
    max-width: 400px;
    height: auto;
    margin-bottom: -25%;
}
/*------ Block style end ------*/

/*------ Utilities ------*/
.textaligncenter {
    text-align: center;
}

.color-vividBurgundy {
    color: #A30738;
}

.flexcentercolumnsidemargin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10% 0 10%;
}

.smalltext16 {
    font-size: 16px;
}
/*------ Utilities ------*/